In [6]:
# DWD (DEutscher WEtterdienst)
# https://www.dwd.de/DE/leistungen/klimadatendeutschland/klarchivtagmonat.html;jsessionid=CA4E0930EDAC2FBA834C0FB5CFE23503.live21061?nn=16102

import pandas as pd

data_weather = pd.read_csv('produkt_klima_tag_20221124_20240526_01975.txt', sep = ';') 
data_weather

,STATIONS_ID,MESS_DATUM,QN_3,FX,FM,QN_4,RSK,RSKF,SDK,SHK_TAG,NM,VPM,PM,TMK,UPM,TXK,TNK,TGK,eor
0,1975,20221124,10,6.7,2.8,9,0.0,6,0.300,0,5.5,8.7,1007.10,6.0,93.00,9.5,3.2,-1.0,eor
1,1975,20221125,10,7.7,2.7,9,2.1,6,0.000,0,7.6,9.0,1013.80,5.9,96.00,8.4,3.2,1.5,eor
2,1975,20221126,10,6.7,2.5,9,0.9,6,0.000,0,6.6,9.1,1025.00,5.8,99.00,7.4,1.9,-1.0,eor
3,1975,20221127,10,9.4,3.7,9,0.1,6,1.300,0,6.0,7.9,1020.70,4.8,92.00,6.1,2.2,0.1,eor
4,1975,20221128,10,11.7,5.1,9,2.5,6,0.000,0,7.5,7.4,1012.00,4.9,86.00,5.6,4.3,3.5,eor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
545,1975,20240522,1,10.3,4.1,1,28.4,6,0.650,0,7.9,16.0,1006.30,15.8,88.88,20.2,14.3,13.6,eor
546,1975,20240523,1,9.3,3.0,1,0.0,0,7.300,0,5.6,14.6,1012.05,16.4,79.46,21.8,10.9,7.7,eor
547,1975,20240524,1,11.1,3.6,1,0.1,6,11.667,0,3.5,13.9,1017.50,17.2,72.50,22.8,9.4,6.7,eor
548,1975,20240525,1,5.7,2.5,1,1.6,6,3.900,0,6.6,14.9,1015.97,16.8,78.33,20.9,13.9,12.2,eor
549,1975,20240526,1,9.1,2.8,1,0.9,6,5.450,0,6.9,16.4,1015.03,18.2,79.33,24.1,13.6,12.4,eor

In [7]:
# The defitnition of the column names can be found here: 
# https://www.dwd.de/DE/leistungen/klimadatendeutschland/beschreibung_tagesmonatswerte.html;jsessionid=F045DF84F28AF665D291AB58ACDDAFA1.live21061?nn=16102&lsbId=526270

# make all column names lower case
data_weather.columns=data_weather.columns.str.lower()

# I got an error mesage when I tried to drop some of the columns, so I wanted to check the column names for blank spaces.
data_weather.columns = data_weather.columns.str.replace(' ','_')
data_weather

,stations_id,mess_datum,qn_3,__fx,__fm,qn_4,_rsk,rskf,_sdk,shk_tag,__nm,_vpm,__pm,_tmk,_upm,_txk,_tnk,_tgk,eor
0,1975,20221124,10,6.7,2.8,9,0.0,6,0.300,0,5.5,8.7,1007.10,6.0,93.00,9.5,3.2,-1.0,eor
1,1975,20221125,10,7.7,2.7,9,2.1,6,0.000,0,7.6,9.0,1013.80,5.9,96.00,8.4,3.2,1.5,eor
2,1975,20221126,10,6.7,2.5,9,0.9,6,0.000,0,6.6,9.1,1025.00,5.8,99.00,7.4,1.9,-1.0,eor
3,1975,20221127,10,9.4,3.7,9,0.1,6,1.300,0,6.0,7.9,1020.70,4.8,92.00,6.1,2.2,0.1,eor
4,1975,20221128,10,11.7,5.1,9,2.5,6,0.000,0,7.5,7.4,1012.00,4.9,86.00,5.6,4.3,3.5,eor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
545,1975,20240522,1,10.3,4.1,1,28.4,6,0.650,0,7.9,16.0,1006.30,15.8,88.88,20.2,14.3,13.6,eor
546,1975,20240523,1,9.3,3.0,1,0.0,0,7.300,0,5.6,14.6,1012.05,16.4,79.46,21.8,10.9,7.7,eor
547,1975,20240524,1,11.1,3.6,1,0.1,6,11.667,0,3.5,13.9,1017.50,17.2,72.50,22.8,9.4,6.7,eor
548,1975,20240525,1,5.7,2.5,1,1.6,6,3.900,0,6.6,14.9,1015.97,16.8,78.33,20.9,13.9,12.2,eor
549,1975,20240526,1,9.1,2.8,1,0.9,6,5.450,0,6.9,16.4,1015.03,18.2,79.33,24.1,13.6,12.4,eor

In [8]:
# Let's drop the columns we do not need
data_weather = data_weather.drop(['stations_id','qn_3','qn_4','_sdk','shk_tag','__nm','_vpm','__pm','_upm','_tgk','eor'], axis=1)
data_weather

     mess_datum  __fx  __fm  _rsk  rskf  _tmk  _txk  _tnk
0      20221124   6.7   2.8   0.0     6   6.0   9.5   3.2
1      20221125   7.7   2.7   2.1     6   5.9   8.4   3.2
2      20221126   6.7   2.5   0.9     6   5.8   7.4   1.9
3      20221127   9.4   3.7   0.1     6   4.8   6.1   2.2
4      20221128  11.7   5.1   2.5     6   4.9   5.6   4.3
..          ...   ...   ...   ...   ...   ...   ...   ...
545    20240522  10.3   4.1  28.4     6  15.8  20.2  14.3
546    20240523   9.3   3.0   0.0     0  16.4  21.8  10.9
547    20240524  11.1   3.6   0.1     6  17.2  22.8   9.4
548    20240525   5.7   2.5   1.6     6  16.8  20.9  13.9
549    20240526   9.1   2.8   0.9     6  18.2  24.1  13.6

[550 rows x 8 columns]

In [9]:
# Let's rename the column names 

data_weather = data_weather.rename(columns={'mess_datum':'date','__fx':'max_wind_speed','__fm':'mean_wind_speed','_rsk':'precipitation_height', 'rskf':'precipitation_catgeory','_tmk':'mean_temperature','_txk':'max_temperature','_tnk':'min_temperature' })
data_weather

,date,max_wind_speed,mean_wind_speed,precipitation_height,precipitation_catgeory,mean_temperature,max_temperature,min_temperature
0,20221124,6.7,2.8,0.0,6,6.0,9.5,3.2
1,20221125,7.7,2.7,2.1,6,5.9,8.4,3.2
2,20221126,6.7,2.5,0.9,6,5.8,7.4,1.9
3,20221127,9.4,3.7,0.1,6,4.8,6.1,2.2
4,20221128,11.7,5.1,2.5,6,4.9,5.6,4.3
...,...,...,...,...,...,...,...,...
545,20240522,10.3,4.1,28.4,6,15.8,20.2,14.3
546,20240523,9.3,3.0,0.0,0,16.4,21.8,10.9
547,20240524,11.1,3.6,0.1,6,17.2,22.8,9.4
548,20240525,5.7,2.5,1.6,6,16.8,20.9,13.9
549,20240526,9.1,2.8,0.9,6,18.2,24.1,13.6

In [ ]:
# Precipitation_category description:

# 0 no precipitation 
# 1 only rain (in historical data before 01.01.1979)
# 4 Form of precipitation not known, although precipitation reported
# 6 only rain; liquid precipitation with automatic measurement
# 7 only snow; solid precipitation with automatic measurement
# 8 Rain and snow and/or sleet; liquid and solid precipitation with automatic measurement
# 9 Incorrect identification; missing value or precipitation form cannot be determined during automatic measurement

In [10]:
# Exporting this processed data to a csv
data_weather.to_csv('weather_data_daily.csv', index=False)